
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Podkova:300,400,700);

body {
  background-color: #000;
  color:#fff;
  font-family: 'Open Sans', Arial;
  background-image:url(../images/bg.jpg);
  background-position:top center;
  background-repeat: no-repeat;
  background-size:200%;
  padding-top:80px;
}


div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin:0px auto;
}

.clr {
  clear: both;
}

header {
  display:block;
  height:60px;
  border-bottom:1px solid #191919;
  background-color: #272727;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  padding:5px 20px;
}

.logo {
  display:block;
  width:210px;
  height:45px;
  cursor:pointer;
  float:left;
  background-image:url(../images/juke_player_logo_60_240.png);
  background-position:center;
  background-size:100%;
}

usertop {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:block;
  height:50px;
  float:right;
  border:0px solid #fff;
  line-height:60px;
}

.login {
  display:block;
  height:40px;
  width:177px;
  background-image:url(../images/facebook-login.png);
  background-position:center;
  background-size:100%;
  margin:5px 0px 0px 15px;
}

.loggedIn {
  display:block;
  color:#fff;
}

.loggedIn,
.loggedIn:hover,
.loggedIn:focus,
.loggedIn:active{
  color:#fff;
  text-decoration: none;
}

.user_data {
  height:50px;
  line-height:50px;
}
.user_data img {
  height:40px;
  margin-right:7px;
}

player {
  display: block;
  max-width:600px;
  position: relative;
  margin:0px auto;
}

player .table_wrapper {
  max-height:500px;
  overflow-y:auto;
}

.table_wrapper {
  border:1px solid #191919;
  margin:20px 0px;
}

table {
  border-collapse: collapse;
  width:100%;
  background-color:#191919;
}

th {
  text-transform: uppercase;
  color:#555555;
  font-weight: normal;
}


td, th {
  padding:5px;
  text-align: left;
  border-bottom:1px solid #272727;
  height:35px;
  line-height:35px;
  padding:0px 10px;
}

td {
  cursor:pointer;
}

.no_actions td {
  cursor: default;
}

td.status_icon {
  width:50px;
  background-image: url(../images/wait.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

tr.playing td.status_icon {
  background-image: url(../images/sound.png);
}

tr.selected {
  background-color:#272727;
  cursor:default;
}

tr.selected td {
  cursor:default;
  color:#7ab700;
}

.actions_bar {
  height:50px;
  width:150px;
  margin:0px auto;

  margin-bottom: 10px;
}

.actions_bar .player_button {
  width:50px;
  height: 50px;
  cursor:pointer;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  float:left;
}

.actions_bar .player_button:hover {
  opacity: 0.8;
}

.actions_bar .player_button.play {
  background-image: url(../images/play.png);
}

.actions_bar .player_button.play.pause {
  background-image: url(../images/pause.png);
}

.actions_bar .player_button.next {
  background-size: 70%;
  background-image: url(../images/next.png);
}

.actions_bar .player_button.prev {
  background-size: 70%;
  background-image: url(../images/prev.png);
}

.volume {
  display:none;
}

.progress-line {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:46px;
  left:0px;
  z-index: 100;
  position: relative;
}

.progress-line .prgress-bg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  border:0px solid gray;
}

.progress-line .prgress-bg .timeline-time {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  width:70px;
  height: 22px;
  line-height: 22px;
  float: left;
  left:0px;
}

.progress-line .prgress-bg .timeline {
  width:calc(100% - 70px);
  background-color:#94AF15;
  color:#94AF15;
  padding: 0;
  margin: 0;
  display: inline;
  margin-top:4px;
}


.scale-marks {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:calc(97% - 70px);
  margin-left:calc(70px + 1.5%);
  height:24px;
  position:relative;
  border-top:1px solid #1A1A1A;
  display:none;
}


.scale-marks .mark {
  background-image:url("../images/line.png");
  background-color: transparent;
  background-repeat:no-repeat;
  font-size:10px;
  line-height:10px;
  height:10px;
  padding-top:12px;
  position:absolute;
  left:50%;
  width:30px;
  text-align:center;
  margin-left:-15px;
}

.scale-marks .mark:last-of-type {
  background-position: top right;
  width:35px;
  margin-left:-20px;
  text-align:left;
}

.scale-marks .half_mark {
  background-image:url("../images/line.png");
  background-repeat:no-repeat;
  height:0px;
  padding-top:6px;
  position:absolute;
  left:50%;
  width:30px;
  text-align:center;
  margin-left:-15px;
}


.pick_button {
  display: block;
  width:40px;
  height:40px;
  border:1px solid #fff;
  background-color: #000;
  border-radius: 24px;
  margin:5px 0px;
}

.loader {
  width:200px;
  font-size:18px;
  height:40px;
  line-height:40px;
  padding-left:60px;
  color:#000;
  margin:20px auto;
  background: url(../images/loader.gif) transparent center left no-repeat;
}

serverlist {
  display:block;
  margin-top:40px;

}

serverlist .server,
.servers_client_list .server{
  height:120px;
  width:120px;
  border:2px solid #fff;
  text-align: center;
  float:left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color:#191919;
  cursor:pointer;
  -webkit-box-shadow: 2px 2px 6px 0 #171717;
  box-shadow: 2px 2px 6px 0 #171717;
  font-family: 'Podkova';
  background-size: 100%;
  margin:8px;
}

serverlist .server .user,
.servers_client_list .server .user{
  height:40px;
  line-height:15px;
  position: absolute;
  bottom:0px;
  overflow:hidden;
  text-align: left;
  padding:0px 4px;
}

serverlist .server .user img,
.servers_client_list .server .user img{
  height:30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 1px 0 #171717;
  box-shadow: 2px 2px 1px 0 #171717;
  display:block;
  float:left;
  margin-right:3px;
}

serverlist .server h2 ,
.servers_client_list .server h2{
  color:#fff;
  font-size:15px;
  font-weight: 400;
  margin:5px 0px;
}

serverlist .server .date ,
.servers_client_list .server .date{
  font-size:13px;
}

serverlist .server:hover ,
.servers_client_list .server:hover {
  border-color:#7ab700;
  color:#7ab700;
  background-image: none !important;
}
serverlist .server:hover h2,
.servers_client_list .server:hover h2{
  color:#7ab700;
}

.mode_select {
  width:100%;
  max-width:300px;
  border:0px solid #fff;
  min-height:300px;
  margin-top:20px
}

.mode_select.full {
  max-width:600px;
}

h2 {
  font-size: 24px;
  maring:0;
  margin-bottom:15px;
  font-family: 'Podkova';
  font-weight:700;
}

.main_icon {
  width:280px;
  border:2px solid #fff;
  text-align: center;
  float:left;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  height:280px;
  background-color:#191919;
  cursor:pointer;
  -webkit-box-shadow: 2px 2px 6px 0 #171717;
  box-shadow: 2px 2px 6px 0 #171717;
}

.main_icon:hover {
  border-color:#7ab700;
}
.main_icon:hover h2{
  color:#7ab700;
}

.create_server {
  float:left;
}

.create_server img {
  width:220px;
  height:220px;
}

.open_guest {
  float:right;
}

.open_guest img {
  width:220px;
  height:220px;
}

.actions_bar_top {
  height:60px;

  width:100%;
}

.actions_bar_top.player {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 60px;
  padding-left:70px;
  line-height:60px;
  overflow:hidden;
  margin-bottom:20px;
}

.actions_bar_top.player h1 {
  font-size:30px;
  margin:0;
  font-family: 'Podkova';
  font-weight:700;
  line-height:60px;
  text-shadow: 1px 1px 1px #999999;
  float:left;
}

.actions_bar_top.player .active_not_active {
  margin-top:14px;
  float:right;
}


