
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Podkova:300,400,700);

html {
  padding:0;
  margin:0;
  height:100%;
}

body {

  color:#fff;
  font-family: 'Open Sans', Arial;
  background-image: url(../images/dark_bg.jpg);
  background-repeat: repeat;
  height:100%;
  padding-top:80px;
}

@media (min-width: 1920px) {
  body {
    background-size:100%;
  }
}


div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin:0px auto;
}

.clr {
  clear: both;
}

header {
  display:block;
  height:60px;
  border-bottom:1px solid #191919;
  background-color: #000;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  padding:5px 20px;
  opacity: 0.8;
}

.logo {
  display:block;
  width:300px;
  height:45px;
  cursor:pointer;
  float:left;
  background-image:url(../images/logo_60.png);
  background-size:45px 100%;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 55px;
  font-family: 'Podkova';
  line-height:45px;
  font-size:30px;
  color:#fff;
}

.logo:hover {
  color:#fff;
  text-decoration: none;
}

usertop {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:block;
  height:50px;
  float:right;
  border:0px solid #fff;
  line-height:60px;
}

.login {
  display:block;
  height:40px;
  width:177px;
  background-image:url(../images/facebook-login.png);
  background-position:center;
  background-size:100%;
  margin:5px 0px 0px 15px;
}

.loggedIn {
  display:block;
  color:#fff;
}

.loggedIn,
.loggedIn:hover,
.loggedIn:focus,
.loggedIn:active{
  color:#fff;
  text-decoration: none;
}

.user_data {
  height:50px;
  line-height:50px;
}
.user_data img {
  height:40px;
  margin-right:7px;
}

player {
  display: block;
  width:100%;
  position: relative;
  margin:0px auto;
}

player .table_header {
  height: 25px;
  max-width:600px;
  position: relative;
  margin:0px auto;
  line-height:25px;
  background-color: #191919;
}

player .table_header table {
  width: 100%;
}

player .table_header table th {
  padding:0px 10px;
  text-align: left;
}

player .table_wrapper {
  max-height:330px;
  overflow-y:auto;
  overflow-x: hidden;
  position: relative;
  border:1px solid #191919;
  margin:0px;
  margin-bottom: 20px;
}

player .table_header.search {
  margin-bottom: 2px;
}

player .table_header.search form {
  display: block;
  height:25px;
}

player .table_header.search input {
  height:25px;
  line-height: 25px;
  font-size: 13px;
  background-color: #191919;
  padding: 3px 10px;
  border:0px;
  width: 100%;
  border-bottom: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

player .table_header.search.results {
  height:150px;
}

player .table_header.search .result {
  height:25px;
  line-height:25px;
  padding: 0px 10px;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
}


player .table_header.search .result:hover {
  background-color: #272727;
}


table.player_songs {
  border-collapse: collapse;
  width:100%;
  background-color:#191919;
  table-layout: fixed;
}

table.player_songs th {
  text-transform: uppercase;
  color:#555555;
  font-weight: normal;
}


table.player_songs td, table.player_songs th {
  padding:5px;
  text-align: left;
  border-bottom:1px solid #272727;
  height:35px;
  line-height:35px;
  padding:0px 10px;
}

table.player_songs td {
  cursor:pointer;
}

table.player_songs.no_actions td {
  cursor: default;
}

table.player_songs td.status_icon {
  width:50px;
  background-image: url(../images/wait.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

table.player_songs tr.playing td.status_icon {
  background-image: url(../images/sound.png);
}

table.player_songs tr.selected {
  background-color:#272727;
  cursor:default;
}

table.player_songs tr.selected td {
  cursor:default;
  color:#7ab700;
}

.player_songs .song_action{
  color: #fff;
  text-decoration: none;
  display:block;
  width:30px;
  text-align: center;
}

.player_songs .song_action:hover {
  text-decoration: none;
}

.actions_bar {
  height:50px;
  width:150px;
  margin:0px auto;

  margin-bottom: 10px;
}

.actions_bar .player_button {
  width:50px;
  height: 50px;
  cursor:pointer;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  float:left;
}

.actions_bar .player_button:hover {
  opacity: 0.8;
}

.actions_bar .player_button.play {
  background-image: url(../images/play.png);
}

.actions_bar .player_button.play.pause {
  background-image: url(../images/pause.png);
}

.actions_bar .player_button.next {
  background-size: 70%;
  background-image: url(../images/next.png);
}

.actions_bar .player_button.prev {
  background-size: 70%;
  background-image: url(../images/prev.png);
}

.volume {
  display:none;
}

.progress-line {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:46px;
  left:0px;
  z-index: 100;
  position: relative;
}

.progress-line .prgress-bg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  border:0px solid gray;
}

.progress-line .prgress-bg .timeline-time {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  width:70px;
  height: 22px;
  line-height: 22px;
  float: left;
  left:0px;
}

.progress-line .prgress-bg .timeline {
  width:calc(100% - 70px);
  background-color:#94AF15;
  color:#94AF15;
  padding: 0;
  margin: 0;
  display: inline;
  margin-top:4px;
}


.scale-marks {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:calc(97% - 70px);
  margin-left:calc(70px + 1.5%);
  height:24px;
  position:relative;
  border-top:1px solid #1A1A1A;
  display:none;
}


.scale-marks .mark {
  background-image:url("../images/line.png");
  background-color: transparent;
  background-repeat:no-repeat;
  font-size:10px;
  line-height:10px;
  height:10px;
  padding-top:12px;
  position:absolute;
  left:50%;
  width:30px;
  text-align:center;
  margin-left:-15px;
}

.scale-marks .mark:last-of-type {
  background-position: top right;
  width:35px;
  margin-left:-20px;
  text-align:left;
}

.scale-marks .half_mark {
  background-image:url("../images/line.png");
  background-repeat:no-repeat;
  height:0px;
  padding-top:6px;
  position:absolute;
  left:50%;
  width:30px;
  text-align:center;
  margin-left:-15px;
}


.pick_button {
  display: block;
  width:40px;
  height:40px;
  border:1px solid #fff;
  background-color: #000;
  border-radius: 24px;
  margin:5px 0px;
}

.loader {
  width:200px;
  font-size:18px;
  height:40px;
  line-height:40px;
  padding-left:60px;
  color:#000;
  margin:20px auto;
  background: url(../images/loader.gif) transparent center left no-repeat;
}

serverlist {
  display:block;
  margin-top:40px;

}

serverlist .server,
.servers_client_list .server{
  height:80px;
  width:120px;
  border:2px solid #fff;
  text-align: center;
  float:left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color:#000;
  cursor:pointer;
  -webkit-box-shadow: 2px 2px 6px 0 #171717;
  box-shadow: 2px 2px 6px 0 #171717;
  font-family: 'Podkova';
  background-size: 100%;
  margin:8px;
  opacity:0.8;
  text-shadow: 1px 1px 3px #000;
}

serverlist .server .user,
.servers_client_list .server .user{
  height:40px;
  line-height:15px;
  position: absolute;
  bottom:0px;
  overflow:hidden;
  text-align: left;
  padding:0px 4px;
}

serverlist .server .user img,
.servers_client_list .server .user img{
  height:30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 1px 0 #171717;
  box-shadow: 2px 2px 1px 0 #171717;
  display:block;
  float:left;
  margin-right:3px;
}

serverlist .server h2 ,
.servers_client_list .server h2{
  color:#fff;
  font-size:15px;
  font-weight: 400;
  margin:5px 0px;
}

serverlist .server .date ,
.servers_client_list .server .date{
  font-size:13px;
}

serverlist .server:hover ,
.servers_client_list .server:hover {
  border-color:#7ab700;
  color:#7ab700;
  background-image: none !important;
}
serverlist .server:hover h2,
.servers_client_list .server:hover h2{
  color:#7ab700;
}

.mode_select {
  width:100%;
  max-width:300px;
  border:0px solid #fff;
  min-height:300px;
  margin-top:20px
}

.mode_select.full {
  max-width:600px;
}

h2 {
  font-size: 24px;
  maring:0;
  margin-bottom:15px;
  font-family: 'Podkova';
  font-weight:700;
}

.main_icon {
  width:280px;
  border:2px solid #fff;
  text-align: center;
  float:left;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  height:280px;
  background-color:#000;
  cursor:pointer;
  opacity: 0.8;
}

.main_icon:hover {
  border-color:#7ab700;
}
.main_icon:hover h2{
  color:#7ab700;
}

.create_server {
  float:left;
}

.create_server img {
  width:220px;
  height:220px;
}

.open_guest {
  float:right;
}

.open_guest img {
  width:220px;
  height:220px;
}

.actions_bar_top {
  height:60px;

  width:100%;
}

.actions_bar_top.player {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 60px;
  padding-left:70px;
  line-height:60px;
  overflow:hidden;
  margin-bottom:20px;
}

.actions_bar_top.player h1 {
  font-size:30px;
  margin:0;
  font-family: 'Podkova';
  font-weight:700;
  line-height:60px;
  text-shadow: 1px 1px 1px #999999;
  float:left;
  margin-right:20px;
}

.actions_bar_top.player .active_not_active {
  margin-top:14px;
  float:right;
}

.youtubePlayer_wrap {
  /*display:none;*/
}

.song_result {
  margin:15px 0px;
}

.playlists_wrapper {
  width:100%;
  padding:20px;
  color:#000;
}

.playlists_wrapper a,
.playlists_wrapper a:hover,
.playlists_wrapper a:active,
.playlists_wrapper a:focus {
  color:#fff;
  text-decoration: none;
  display: block;
  width:100%;
  height: 100%;
}

.new_playlist_button {
  float:right;
  display:inline-block;
}

.song_key {
  width:70% !important;
  display: inline-block !important;
}

.song_key .input-group {
  width:100%;
}

.song_key input {
  width:100% !important;
}

.playlists_wrapper h4 {
  color:#000;
  margin: 0px;
  margin-bottom:20px;
  border-bottom:1px solid #eee;
  height:40px;
  line-height:40px;
}

.playlists_wrapper .results {
  margin:20px 0px;
}

.playlist_songs {
  margin-bottom:30px;
}

.playlist_songs .song {
  margin:4px;
}

.player_modal .actions {
  margin-top:20px;
  height:45px;
  line-height: 45px;
  padding:10px 0px;
  border-top:1px solid #eee;
  text-align:center;
}

.playlist_row {
  cursor:pointer;
}

.playlist_row:hover {
  background-color: #272728;
  color:#fff;
}


.song_thumb {
  height:80px;

}

.song_thumb img {
  display:block;
  float:left;
  height:80px;
  margin-right:20px;
}


@media (max-width: 700px) {

  .logo {
    width:45px;
  }

  .logo .text {
    display:none;
  }

  .user_data .user_name {
    display:none;
  }

  .mode_select {
    height:auto;
    width:80%;
    min-height: 0px;
  }

  .mode_select.full {
    width:100%;
  }

  .mode_select .main_icon {
    width:92%;
    margin:0px 4%;
    height:auto;
  }

  .mode_select.full .main_icon {
    width:40%;
    margin:5%;
  }

  .main_icon h2 {
    margin:5px 0px;
    font-size:18px;
  }

  .main_icon img {
    width:90%;
    height:auto;
  }

  serverlist {
    margin-top:15px;
  }

  serverlist .server, .servers_client_list .server {
    float:none;
    width:92%;
    margin:4%;
    height:auto;
  }

  serverlist .server .user, .servers_client_list .server .user {
    position: relative;
  }

  .actions_bar_top.player {
    height:auto;
    background-position: left top;
    padding-left: 0px;
  }

  .actions_bar_top.player h1 {
    float: none;
    text-align: center;
  }

  .search .btn {
    margin-bottom:25px;
  }

  .search .song_key {
    margin-bottom:0px;
  }

}


#player_bottom .play {
  height:80px;
  width:80px;
  background-image: url(../images/play.png);
  background-position: center;
  background-size: 90%;
  cursor:pointer;
}

#player_bottom .play.playing {
  background-image: url(../images/pause.png);
}



@media (max-width: 450px) {
  .main_icon {
    width:46%;
    margin:2%;
  }
}

.player_actions_top {
  position:fixed;
  top: 140px;
  height:31px;
  width:100%;
  line-height:30px;
  background-color:#000;
  opacity: 0.7;
  padding:0px 10px;
  border-bottom:1px solid #7ab700;
}

.player_actions_top .server_name {
  ont-family: 'Podkova';
  font-weight:700;
  font-size:24px;
  text-transform: uppercase;
}

#player_bottom i {
  color:#7ab700;
}

#player_bottom i:hover {
  color:#fff;
}

#player_bottom .next_prev {
  height:40px;
  line-height:40px;
  text-align: center;
}

#player_bottom .next_prev i{
  margin-top:6px;
  cursor:pointer;
}

#player_bottom .server_image {
  width:80pp;

}
#player_bottom .server_image img {
  width:80px;
  height:80px;
  position: absolute;
  top:0px;
  left:0px;
}

.track_data {
  height:40px;
  float:left;
  width:50%;
  line-height:40px;
  overflow:hidden;
}

.track_data label {
  margin:0;
  padding:0;
  height:40px;
  float:left;
  display: inline-block;
  margin-right:10px;
  font-weight: 500;
}

.track_data img{
  height:40px;
  width:48px;
  margin:0px;
  margin-top:-3px;
  margin-right:10px;
}

#player_bottom {
  height:80px;
  width:100%;
  position:fixed;
  top:60px;
  left:0px;
  /*background-color:#7ab700;*/
  background-color:#000;
  opacity: 0.7;
  z-index:10;
}

#player_bottom table {
  width: 100%;
  height:100%;
  text-shadow: 1px 1px 3px #000;
}

#player_bottom table td {
  padding:0pp;
}

#player_bottom .tracks_data {
  height:40px;
  width:100%;
}

#player_bottom .progress_data {
  height:40px;
  line-height:40px;
  font-size:20px;
  width:100%;
  background-color: #fff;
  opacity: 0.8;
}

#player_bottom .progress_data .text {
  position: absolute;
  left:0px;
  z-index:2;
}

#player_bottom .progress_data span{
  margin:0px 10px;
}

#player_bottom .progress_data .fill {
  background-color:#7ab700;
  width:0%;
  height:100%;
  float:left;
  opacity: 0.9;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index:1;
}


#player_bg {

  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1;
  opacity: 0.8;
}

#player_bg img {
  height:100%;
  width:100%;
}

h1.list_name {
  position:fixed;
  top:140px;
  left:0px;
  font-size:40px;
  height:40px;
  font-family: 'Podkova';
  font-weight:700;
  line-height:40px;
  text-shadow: 1px 1px 1px #999999;
  padding:0px 20px;
  text-transform: capitalize;
  margin:0;
}

.track_list_bottom {
  position: fixed;
  bottom:0px;
  width:100%;
  height:120px;
  background-color:#000;
  opacity: 0.9;
}


.track_view {
  width:132px;
  height:112px;
  border:0px solid #fff;
  float:left;
  margin:5px;
  padding:4px;
  cursor:pointer;
}

.track_view img {
  width:122px;
  height:102px;
}

.track_view.active {
  border:1px solid #7ab700;
  background-color:#7ab700;
}



