<div class="home_view">
  <div class="mode_select" ng-class="{full:auth.isLoggedIn()}">
    <div class="main_icon create_server" ng-click="createServer()" ng-show="auth.isLoggedIn()">
      <h2>New List</h2>
      <img src="../images/music-server.png" >
    </div>
    <div class="main_icon open_guest" ng-click="openGuest()">
      <h2>Active lists</h2>
      <img src="../images/music-client.png" >
    </div>
    <br class="clr">
  </div>
</div>

<serverlist servers="servers" template-url="views/directives/servers.html"></serverlist>

<script type="text/ng-template" id="/new_server.html">
  <div class="server_form">
    <h4>Create new list</h4>
    <form ng-submit="createServer()" ng-hide="loading">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" id="exampleInputEmail1" class="form-control" ng-model="server_form.name" required="" placeholder="Your list name">
      </div>
      <div class="form-group">
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="server_form.private" btn-radio="0">Public</label>
          <label class="btn btn-primary" ng-model="server_form.private" btn-radio="1">Private</label>
        </div>
      </div>
      <button type="submit" class="btn btn-warning">Create List</button>
    </form>
    <div class="loader" ng-show="loading">
      Please wait...
    </div>
  </div>
</script>


<style>

  .server_form {
    width:100%;
    padding:20px;
  }

  .server_form h4 {
    color:#000;
    margin: 0px;
  }


</style>
