<div class="search">
  <form class="form-inline" ng-submit="serach()">
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
      <div class="input-group">

        <input type="text" ng-model="key" class="form-control" id="exampleInputAmount" placeholder="Search song">

      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>



<div class="result" ng-repeat="res in results" ng-click="setVideo($index)">
  <span ng-bind="res.snippet.title"></span>
</div>
<button ng-click="player.playVideo()">Play</button>
<button ng-click="player.stopVideo()">Stop</button>
<youtube-video video-id="curr_track" player="player"></youtube-video>

<style>
  .result {
    border:1px solid red;
    margin:10px 0px;
    cursor:pointer;
  }
</style>
